<div class="container">
  <div class="row">
    <!-- ANCHOR Employee Name -->

    <div class="col-md-6 col-sm-12">
      <mat-form-field>
        <mat-label>{{ 'employeeName' | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="filterOptions.name" />
      </mat-form-field>
    </div>

    <!-- ANCHOR Department Id -->

    <div class="col-md-6 col-sm-12">
      <mat-form-field>
        <mat-label>{{ 'department' | translate }}</mat-label>
        <mat-select [(ngModel)]="filterOptions.departmentId" name="department">
          <mat-option *ngIf="departments.length === 0" disabled>
            {{ 'noData' | translate }}
          </mat-option>
          <mat-option
            *ngFor="let department of departments"
            [value]="department.value"
          >
            {{
              locale === 'ar'
                ? department.viewValue.arabic
                : department.viewValue.english
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ANCHOR Employee Code -->

    <div class="col-md-6 col-sm-12">
      <mat-form-field>
        <mat-label>{{ 'employeeCode' | translate }}</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="filterOptions.employeeCode"
        />
      </mat-form-field>
    </div>

    <!-- ANCHOR Birthdate -->

    <div class="col-md-6 col-sm-12">
      <mat-form-field>
        <mat-label>{{ 'birthdate' | translate }}</mat-label>

        <input
          matInput
          [matDatepicker]="birthdatePicker"
          [(ngModel)]="filterOptions.birthdate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthdatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthdatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- ANCHOR Gender -->

    <div class="col-md-6 col-sm-12">
      <mat-label class="mr-4">{{ 'gender' | translate }}</mat-label>
      <mat-radio-group [(ngModel)]="filterOptions.genderId">
        <mat-radio-button [value]="1">{{
          'male' | translate
        }}</mat-radio-button>
        <mat-radio-button [value]="2">{{
          'female' | translate
        }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-md-6 col-sm-12 text-right">
      <button (click)="clear()" class="mr-4" mat-button color="primary">
        {{ 'clear' | translate }}
      </button>
      <button
        type="button"
        (click)="filter()"
        mat-raised-button
        color="primary"
      >
        {{ 'search' | translate }}
      </button>
    </div>
  </div>

  <hr style="width: 80%" />

  <app-employees-table [employees]="employees"></app-employees-table>
</div>
